@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #18181b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #262626;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

#title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

#subtitle {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

#url-qrcode {
    background-color: #18181b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    padding: 10px;
}
#url-qrcode:focus {
    outline: 0;
}

#warning {
    color: rgb(255, 1, 1);
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #3730a3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
}
button:hover {
    background-color: #463eb6;
}